{{ define "head"}}
{{ partial "head" . }}
{{end}}

{{ define "header"}}
{{ partial "header-light" (dict "Kind" .Kind "Template" "List") }}
{{end}}

{{ define "main" }}
{{ partial "work/page-title" . }}
{{ partial "work/hero" . }}

<section class="section d-flex text-left justify-content-center align-items-center position-relative pt-1 pt-lg-5 mt-5">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12">
                {{ .Content}}
            </div>
        </div>
    </div>
</section>


{{end}}

{{ define "footer" }}
{{ partial "contact" . }}
{{ partial "footer" . }}
{{end}}

{{ define "scripts" }}
{{ partial "scripts" . }}
{{end}}
