@font-face {
    font-family: 'PX-Grotesk';
    src: url("/fonts/Px-Grotesk-Regular.woff2") format("woff2"),
        url("../../../Respources/fonts/Px-Grotesk-Regular.woff") format("woff"),
        url("../../../Resfonts/fonts/Px-Grotesk-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PX-Grotesk";
    src: url("/fonts/Px-Grotesk-Bold.woff2") format("woff2"),
        url("/fonts/Px-Grotesk-Bold.woff") format("woff"),
        url("/fonts/Px-Grotesk-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}



@font-face {
    font-family: "Circular";
    src: url('/fonts/Circular/CircularStd-Book.woff');
    /* IE9 Compat Modes */
    src: url('/fonts/Circular/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('/fonts/Circular/CircularStd-Book.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('/fonts/Circular/CircularStd-Book.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('/fonts/Circular/CircularStd-Book.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('/fonts/Circular/CircularStd-Book.svg#svgFontName') format('svg');
    /* Legacy iOS */
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Circular";
    src: url('/fonts/Circular/CircularStd-Bold.woff');
    /* IE9 Compat Modes */
    src: url('/fonts/Circular/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('/fonts/Circular/CircularStd-Bold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('/fonts/Circular/CircularStd-Bold.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('/fonts/Circular/CircularStd-Bold.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('/fonts/Circular/CircularStd-Bold.svg#svgFontName') format('svg');
    /* Legacy iOS */
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: "Circular";
    src: url('/fonts/Circular/CircularStd-Medium.woff');
    /* IE9 Compat Modes */
    src: url('/fonts/Circular/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('/fonts/Circular/CircularStd-Medium.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('/fonts/Circular/CircularStd-Medium.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('/fonts/Circular/CircularStd-Medium.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('/fonts/Circular/CircularStd-Medium.svg#svgFontName') format('svg');
    /* Legacy iOS */
    font-weight: 500;
    font-style: normal;
}

@import "breakpoints";


// Mixins
// Typography

$primary-font-book: "Circular",
Arial,
Helvetica,
sans-serif;
$primary-font-bold: "Circular",
Arial,
Helvetica,
sans-serif;

$primary-font-medium: "Circular",
Arial,
Helvetica,
sans-serif;


// Breakpoints

/* set the overriding variables */
$grid-breakpoints: (xxxs: 0,
    xxs: 376px,
    xs: 568px,
    sm: 667px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1440px,
    xxxl: 1600px);
$container-max-widths: (xxxs: 0,
    xxs: 376px, f xs: 568px,
    sm: 667px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1440px,
    xxxl: 1920px);

// Colors

$primary-color: #00254F;
$primary-text-color: #0F1317;
$primary-text-color-light: #567492;
$primary-gradient: linear-gradient(to right, #FF00E0 0%, #FF0029 100%);
$primary-pink: #FF00E0;
$primar-red: #FF0029;

// Mixins

@mixin primary-gradient {
    background-image: -moz-linear-gradient(to right, #FF00E0 0%, #FF0029 100%);
    /* FF3.6+ */
    background-image: -webkit-linear-gradient(to right, #FF00E0 0%, #FF0029 100%);
    /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.7) 100%);
    /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(to right, #FF00E0 0%, #FF0029 100%);
    /* Opera 11.10+ */
    background-image: -ms-linear-gradient(to right, #FF00E0 0%, #FF0029 100%);
    /* IE10+ */
    background-image: linear-gradient(to right, #FF00E0 0%, #FF0029 100%);
    /* W3C */
}



// Sizing

$testimonial-img-size-mobile: 150px;
$testimonial-img-size-md: 200px;
$testimonial-img-size-lg: 225px;
$testimonial-img-size-lg: 250px;


// Animate

.delay-1 {
    animation-delay: .25s;
}

.delay-2 {
    animation-delay: .5s;
}

.delay-3 {
    animation-delay: .75s;
}

.delay-4 {
    animation-delay: 1s;
}

.delay-5 {
    animation-delay: 1.25s;
}

// GSAP

.loader {
    position: fixed;
    width: 100vw;
    height: 200vh;
    pointer-events: none;
    background-color: $primary-color;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
}

// Layout

.container {

    padding-left: 1rem;
    padding-right: 1rem;

    @include media-breakpoint-up(lg) {

        padding-left: 0rem;
        padding-right: 0rem;
    }
}

// Typography

html {
    scroll-behavior: smooth;
    height: -webkit-fill-available;
    font-size: 18px;
    overflow-y: scroll;
    overflow-x: hidden;

}

body {
    font-family: "Circular";
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: rgba($primary-text-color, 1);
    text-align: center;
    width: 100%;
    word-wrap: break-word;
    overflow-x: hidden;
}

.ascii-art {
    font-family: monospace;
    white-space: pre;
}

h2,
h3,
h4 {
    line-height: 140%;
}

h5,
h6,
p {
    line-height: 150%;
}

h1 {
    font-weight: 900;
    font-size: 2.25rem;
    line-height: 120%;

    @include media-breakpoint-up(sm) {
        font-size: 2.75rem;
    }

    @include media-breakpoint-up(md) {
        font-size: 4rem;
    }

    @include media-breakpoint-up(lg) {
        font-size: 4.25rem;
    }

    @include media-breakpoint-up(xl) {
        font-size: 4.5rem;
    }

}

h2 {
    font-size: 2rem;
    font-weight: 900;

    @include media-breakpoint-up(md) {
        font-size: 2.25rem;
    }

    @include media-breakpoint-up(xl) {
        font-size: 2.25rem;
    }
}

h3 {
    font-size: 1.5rem;
    color: rgba($primary-text-color, 1);
    font-weight: 500;
    margin-top: 1.5rem;
    margin-bottom: 1rem;

    @include media-breakpoint-up(md) {
        font-size: 1.75rem;
        margin-top: 1.75rem;
    }

    @include media-breakpoint-up(xl) {
        font-size: 2rem;
        margin-top: 2rem;
    }
}

h4 {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 0.5rem;

    @include media-breakpoint-up(md) {
        font-size: 1.5rem;
    }

    @include media-breakpoint-up(xl) {
        font-size: 1.75rem;
    }
}

h5 {
    font-family: 'Circular', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 500;


    @include media-breakpoint-up(md) {
        font-size: 1.25rem;
    }

    @include media-breakpoint-up(lg) {
        font-size: 1.5rem;
    }

}

h6 {
    font-family: 'PX-Grotesk', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.75rem;
    font-weight: 600;
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
    background: $primary-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


    @include media-breakpoint-up(md) {
        font-size: 0.9rem;
    }

}

p {
    font-size: 0.95rem;
    margin: 1rem 0 1rem 0;
    font-weight: 400;

    @include media-breakpoint-up(md) {
        font-size: 1rem;
        margin: 1.5rem 0 1.5rem 0;
    }

    @include media-breakpoint-up(xl) {
        font-size: 1.125rem;
        margin: 1.5rem 0 1.5rem 0;
    }
}

b,
strong {
    font-weight: 500;
}

// Lists

ol,
ul {
    list-style-type: disc;
    margin-left: 1rem;
}


li {
    margin: 1.5rem 0rem;

    &::marker {
        color: $primary-pink;
        font-size: 1.25rem;
    }
}


// Forms

label {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.5px;
}

input,
select {
    min-height: 3rem;
}

.form-group-row {
    flex-direction: column;

    @include media-breakpoint-up(md) {
        flex-direction: row;
    }
}

.form-group {
    margin-bottom: 1.5rem;
    width: 100%;

    @include media-breakpoint-up(md) {
        width: 50%
    }
}

// Images

img {
    width: 100%;
}

// Spacing

hr {
    margin: 4rem 0 4rem 0;
    color: red;
}

// Links 

a {
    text-decoration: none;
    color: $primary-pink;
    background-color: transparent;
    transition: all 0.4s ease-in-out;
    background: $primary-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: $primary-gradient;
    border-bottom: 1px solid transparent;


    &:hover,
    &:active,
    &:focus {
        transition: all 0.2s ease-out;
        color: $primary-pink;
        background: $primary-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: $primary-gradient;
        text-decoration: none;
        border-bottom: 1px solid $primary-pink;
    }
}

p a {
    text-align: center;
}

// Lottie

#animation {
    position: relative;
    width: 25px;
    height: 25px;
    text-align: center;
    opacity: 1;
    transform: translateY(-3%)
}

#bg-circle {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 1;
    display: none;
}

// Navbar


header {
    height: 100px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: all 0.3s ease-out;
}


.navbar {
    position: relative;
}

.navbar-toggler-icon {
    width: auto;
    height: auto;
}

.navbar-brand {
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    transform: translateY(0em);
    transition: all 0.3s ease-out;
    font-family: $primary-font-medium;
    font-weight: 900;
    background: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &:hover {
        transition: all 0.5s ease-out;
        background: $primary-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

}

.navbar-brand-light {
    color: rgba($primary-text-color, 1);
    background: rgba($primary-text-color, 1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-link {
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    background: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 0rem !important;
    padding-right: 0rem !important;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    &:hover,
    &:active,
    &:focus {
        transition: all 0.5s ease-out;
        background: $primary-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.nav-link-light {
    color: rgba($primary-text-color, 1);
    background: rgba($primary-text-color, 1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 992px) {
    .hide-mobile {
        display: none;
    }
}


// 
/* Icon 1 */

.animated-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-icon3 span {
    background: #fff;
}

/* Icon 4 */

.animated-icon3 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 8px;
}

.animated-icon3.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 21px;
    left: 8px;
}

// 

// Badges

.badge-pill {
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 1;
    margin-top: 0.5rem;
    padding: 1rem;
    color: white;
    line-height: 0;
    font-weight: 400;
    font-size: 0.75rem;
}

// Buttons

button {
    color: white;
    box-shadow: none;
    font-size: 0.75rem;
    transition: 500ms;
}

.btn {

    @include media-breakpoint-down(sm) {
        width: 100%;
    }
}

.btn-primary {
    background: $primary-gradient;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    transition: 500ms;
    font-size: 1rem;

    &:hover,
    &:focus,
    &:active {
        background: $primary-gradient;
        -webkit-text-fill-color: $primary-gradient;
        border: 1px solid transparent;
        transition: 300ms;
        transform: translateY(-0.25rem);
        box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.2);
    }

}

.btn-secondary {
    color: #fff;
    padding: 0.5rem 1rem;
    border: solid 1px #fff;
    background-color: transparent;
    transition: 500ms;


    &:hover,
    &:focus,
    &:active {
        background: $primary-gradient;
        -webkit-text-fill-color: $primary-gradient;
        border: 1px solid transparent;
        transition: 300ms;
        transform: translateY(-0.25rem);
        box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.2);
    }
}

.btn-tertiary {
    color: $primary-text-color;
    padding: 0.5rem 1rem;
    border: solid 1px #fff;
    background-color: transparent;
    border: 1px solid $primary-text-color;
    transition: 500ms;

    &:hover {
        background: $primary-gradient;
        border: 1px solid $primary-pink;
        -webkit-text-fill-color: #fff;
        transition: 300ms;
        transform: translateY(-0.25rem);
        box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.2);
    }
}

// Cards

.rounded {
    border-radius: 1rem !important;
}

a.card-link {

    text-decoration: none;
    border: none;
    color: transparent;
    background-color: transparent;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        border: none;
    }
}

.card-link+.card-link {
    margin: 0;
}

.card-columns {

    column-gap: 1rem;
    column-count: 1;

    @include media-breakpoint-up(md) {
        column-gap: 2rem;
        column-count: 2;
    }

}

.card {
    position: relative;
    width: 100%;

    .card-img-top-center {
        margin: auto;
    }

    .card-img-top {
        display: block;
        height: auto;
        max-width: 50%;
    }
}

// Process Card

.process-card {
    position: relative;
    transition: 0.1s ease-out;
    cursor: default;

    &:hover {
        transform: translatey(-0.5rem);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;    }
}


.card-shadow {

    transform: translateY(0%);
    z-index: 0;


}

.card-text {
    margin: 0 0 0.75rem 0;
}

// Portfolio Card

.portfolio-card {
    color: rgba(255, 255, 255, 1);
    box-shadow: none;
    transition: .1s transform cubic-bezier(.155, 1.105, .295, 1.12), .2s box-shadow, .5s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    cursor: pointer;
    transform: translateY(0rem);

    // &:hover {
    //     box-shadow: 0 10px 20px rgba(0, 0, 0, .20), 0 4px 8px rgba(0, 0, 0, .12);
    //     transform: translateY(-0.1rem);
    //     transition: .2s;
    // }

    h6 {
        color: rgba(255, 255, 255, 0.5);
        background: rgba(255, 255, 255, 0.5);
        -webkit-background-clip: text;
    }

    img {
        height: auto;
        width: 100%;
    }

}




/* */


// Testimonial

.testimonial-text {

    @include media-breakpoint-up(md) {
        text-align: left;
    }

    h4 {
        color: rgba(255, 255, 255, 1);
    }

    h6 {
        color: rgba(255, 255, 255, 0.5);
    }
}

.testimonial-img {

    height: $testimonial-img-size-mobile;
    width: $testimonial-img-size-mobile;
    margin: auto;

    @include media-breakpoint-up(md) {
        height: $testimonial-img-size-md;
        width: $testimonial-img-size-md;
    }

    @include media-breakpoint-up(lg) {
        height: $testimonial-img-size-lg;
        width: $testimonial-img-size-lg;
    }

    &:hover::before {
        transform: translateY(0%);
        transition: transform 0.2s;
        cursor: pointer;
    }

    &::before {
        content: '';
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        height: $testimonial-img-size-mobile;
        width: $testimonial-img-size-mobile;
        background: $primary-gradient;
        background-size: 100% 100%;
        transform: translateY(5%);
        border-radius: 50%;
        box-shadow: 2px;
        transition: transform 0.2s;
        cursor: pointer;

        @include media-breakpoint-up(md) {
            height: $testimonial-img-size-md;
            width: $testimonial-img-size-md;
        }

        @include media-breakpoint-up(lg) {
            height: $testimonial-img-size-lg;
            width: $testimonial-img-size-lg;
        }
    }


    &::after {
        content: '';
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        background-image: url(/images/homepage/testimonial/Gemma.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;
        height: $testimonial-img-size-mobile;
        width: $testimonial-img-size-mobile;

        @include media-breakpoint-up(md) {
            height: $testimonial-img-size-md;
            width: $testimonial-img-size-md;
        }


        @include media-breakpoint-up(lg) {
            height: $testimonial-img-size-lg;
            width: $testimonial-img-size-lg;
        }
    }

}

.testimonial-img-jack {

    height: $testimonial-img-size-mobile;
    width: $testimonial-img-size-mobile;
    margin: auto;

    @include media-breakpoint-up(md) {
        height: $testimonial-img-size-md;
        width: $testimonial-img-size-md;
    }

    @include media-breakpoint-up(lg) {
        height: $testimonial-img-size-lg;
        width: $testimonial-img-size-lg;
    }

    &:hover::before {
        transform: translateY(0%);
        transition: transform 0.2s;
        cursor: pointer;
    }

    &::before {
        content: '';
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        height: $testimonial-img-size-mobile;
        width: $testimonial-img-size-mobile;
        background: $primary-gradient;
        background-size: 100% 100%;
        transform: translateY(5%);
        border-radius: 50%;
        box-shadow: 2px;
        transition: transform 0.2s;
        cursor: pointer;

        @include media-breakpoint-up(md) {
            height: $testimonial-img-size-md;
            width: $testimonial-img-size-md;
        }

        @include media-breakpoint-up(lg) {
            height: $testimonial-img-size-lg;
            width: $testimonial-img-size-lg;
        }
    }


    &::after {
        content: '';
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        background-image: url(/images/homepage/testimonial/Jack.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;
        height: $testimonial-img-size-mobile;
        width: $testimonial-img-size-mobile;

        @include media-breakpoint-up(md) {
            height: $testimonial-img-size-md;
            width: $testimonial-img-size-md;
        }


        @include media-breakpoint-up(lg) {
            height: $testimonial-img-size-lg;
            width: $testimonial-img-size-lg;
        }
    }

}


// Sections ––——————————————————————————————————————————————————————

section {
    position: relative;
    padding-top: 4rem;
    padding-bottom: 4rem;
    min-height: 25vh;

    @include media-breakpoint-up(xl) {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    @include media-breakpoint-up(xxl) {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }


}

.background-image {
    background-image: url(/images/homepage/homepage-bg.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
    z-index: -1;
}

.background-image-testimonial {
    background-image: url(/images/homepage/homepage-bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    position: relative;
}

// Hero Section

.hero-single {
    height: 95vh;
    z-index: 0;

}

.hero {
    height: 95vh;
    width: 100%;
    color: white;
    z-index: 0;

    h1 {
        background: -webkit-linear-gradient(#fff, #FFf);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;


        span {
            background: $primary-gradient;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    h3 {
        color: rgba(255, 255, 255, 0.5);
    }

    h5 {
        margin-bottom: 1rem;

    }

    .hero-text-p {
        margin: 1.5rem auto 2.5rem auto;

        @include media-breakpoint-up(xxxl) {
            width: 75%;
        }
    }

    .hero-cta {
        position: absolute;
        bottom: 10%;
        width: 100%;
        margin: auto;

        @include media-breakpoint-up(md) {
            bottom: 10%;
        }


        @include media-breakpoint-up(lg) {
            position: relative;
            bottom: 0;
        }
    }

    .hero-links {
        a {
            color: white;
            font-size: 1rem;

            @include media-breakpoint-up(xxs) {
                font-size: 1.125rem;
            }

            @include media-breakpoint-up(md) {
                font-size: 1.25rem;
            }

        }
    }

}


// Work History

h4.job-title {

    span {
        font-family: $primary-font-medium;
        color: $primary-gradient;
        opacity: 0.5;
    }
}

// Call to action


a.call-to-action {
    background: $primary-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration-color: #FF00E0;
    color: #FF00E0;
    text-decoration: none;
    color: $primary-text-color;

    &:hover {
        border-bottom: 1px solid #FF00E0;
    }

}


// Work Pages

#mycarespace {
    margin: 0rem 0 2rem 0;
}

#challenge,
#overview,
#project-goals,
#understanding-the-problem,
#interview-objectives,
#key-insights {
    margin-top: 3rem;
    margin-bottom: 1rem;
}


blockquote {
    position: relative;
    // border-left: 0.4rem solid $primary-color;
    background-color: transparent;
    padding: 1.2rem 1.3rem 1.2rem 1.5rem;
    margin: 2rem 0 3rem 0;
    border: 1px solid $primary-color;
    border-radius: 1rem;

    p {
        margin: 0 0 0.5rem 0;

        strong {
            font-family: 'PX-Grotesk', Arial, Helvetica, sans-serif;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 0.8rem;
            font-weight: 400;
            margin-top: 0.75rem;
            margin-bottom: 0.25rem;
            background: $primary-gradient;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            @include media-breakpoint-up(md) {
                font-size: 1rem;
            }
        }
    }

    a {
        background: $primary-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border-bottom: transparent;
        padding-bottom: 0.25rem;

        &:hover,
        &:focus,
        &:active {
            background: $primary-gradient;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-decoration: none;
            border-bottom: 1px solid $primary-pink;
        }
    }

    @include media-breakpoint-up(md) {
        padding: 1.4rem 1.5rem 1.4rem 2rem;
    }


}

figure figcaption,
figure figcaption h4 {
    font-weight: 400;
    font-size: 0.9rem;
    color: rgba($primary-text-color, 0.5);
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

// JS

.scrolled {
    background-color: #fff;
    color: rgba($primary-text-color, 1);
    transition: all 0.2s ease-out;
    background: #fff;
    -webkit-text-fill-color: transparent;
}

.scrolledColor {
    background-color: #fff;
    ;
    color: rgba($primary-text-color, 1);
    transition: all 0.2s ease-out;
    background: rgba($primary-text-color, 1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

// Swiper

.swiper-container {
    width: 100%;
    height: auto;

    &:hover {
        cursor: url("/images/icons/mouse-scroll.svg"), auto;
    }

    .swiper-pagination-bullet-active {
        background-color: $primary-pink;
    }
}