<div class="row justify-content-center d-flex">
    <div class="col-12 col-md-6">
        <a href="https://designmaxims.netlify.app" target="_blank" class="card-link">
            <div class="card portfolio-card text-left text-light border mb-3" style="background-color: #0c82ea;">
                <img src="/img/homepage/feature-work/Design-Maxims.webp" alt="Design Maxims">
                <div class="card-img-overlay m-xl-2 m-xxl-4">
                    <h6 class="card-text op-5 mt-0">Design Maxims</h5>
                        <h4 class="card-title mt-0">Inspiration quotes from design leaders & thinkers</h4>
                        <div class="badge badge-pill op-5">Code</div>

                </div>
            </div>
        </a>
    </div>
    <div class="col-12 col-md-6">
        <a href="https://yogifme.netlify.app" target="_blank" class="card-link">
            <div class="card portfolio-card text-left text-light border mb-3" style="background-color: #0c82ea;">
                <img src="/img/homepage/feature-work/Yo-Gif.webp" alt="Yo Gif">
                <div class="card-img-overlay m-xl-2 m-xxl-4">
                    <h6 class="card-text op-5 mt-0">Yo Gif</h5>
                        <h4 class="card-title mt-0">A simple search platform using the Giphy API</h4>
                        <div class="badge badge-pill op-5">Code</div>
                </div>
            </div>
        </a>
    </div>
</div>
