<div class="row justify-content-center d-flex pb-5 ">
    <div class="col-sm-12">
        <div class="card-columns">

            <!-- Large -->
            <a href="/work/case-studies/mcs" class="card-link">
                <div class="card rounded portfolio-card text-left text-light border mb-4">
                    <img class="rounded" src="/images/homepage/feature-work/mycarespace.png" alt="My Care Space">
                    <div class="card-img-overlay m-xl-2 m-xxl-4">
                        <h6 class="card-text op-5">MyCareSpace</h6>
                        <h4 class="card-title mt-0">Helping disabilty carers to connect with NDIS services</h4>
                        <span class="badge badge-pill">Case Study</span>
                    </div>
                </div>
            </a>

            <!-- Small -->
            <a href="http://www.maxims.design" target="_blank" class="card-link">
                <div class="card rounded portfolio-card text-left text-light border mb-4"
                    style="background-color: #0c82ea;">
                    <img class="rounded" src="/images/homepage/feature-work/Design-Maxims.jpg" alt="Design Maxims">
                    <div class="card-img-overlay m-xl-2 m-xxl-4">
                        <h6 class="card-text">Design Maxims</h5>
                            <h4 class="card-title">Inspiration quotes from
                                design leaders & thinkers</h4>
                            <span class="badge badge-pill op-5">Digital Design</span>

                    </div>
                </div>
            </a>

            <!-- Large -->
            <a href="#" class="card-link coming-soon">
                <div class="card rounded portfolio-card text-left text-light border mb-4"
                    style="background-color: #C79C54;">
                    <img class="rounded" src="/images/homepage/feature-work/Scenic.jpg" alt="Scenic">
                    <div class="card-img-overlay m-xl-2 m-xxl-4">
                        <h6 class="card-text op-5">Scenic Group</h5>
                            <h4 class="card-title">Moments of
                                wonder for an industry leading cruise operator</h4>
                            <span class="badge badge-pill op-5">Coming Soon</span>
                    </div>

                </div>
            </a>



            <!-- Large -->
            <a href="/work/digital-design/maso-fitness" class="card-link">
                <div class="card rounded portfolio-card text-left text-light border mb-4">
                    <img class="rounded" src="/images/homepage/feature-work/Maso-Fitness.jpg" alt="Maso Fitness">
                    <div class="card-img-overlay m-xl-2 m-xxl-4">
                        <h6 class="card-text">Maso Fitness</h6>
                        <h4 class="card-title mt-0">Getting people fit in Sydney's Inner West</h4>
                        <span class="badge badge-pill">Digital Design</span>
                    </div>

                </div>
            </a>

            <!-- Large -->
            <a href="#" class="card-link coming-soon">
                <div class="card rounded portfolio-card text-left text-light border mb-4"
                    style="background-color: #74ADDE;">
                    <img class="rounded" src="/images/homepage/feature-work/Gallahger.jpg" alt="Gallahger">
                    <div class="card-img-overlay m-xl-2 m-xxl-4">
                        <h6 class="card-text op-5">MyCareSpace</h5>
                            <h4 class="card-title">Helping disabilty carers to connect with NDIS services</h4>
                            <span class="badge badge-pill op-5">Coming Soon</span>
                    </div>

                </div>
            </a>

            <!-- Large -->
            <a href="#" class="card-link coming-soon">
                <div class="card rounded portfolio-card text-left text-light border mb-4"
                    style="background-color: #1A274A;">
                    <img class="rounded" src="/images/homepage/feature-work/Made.jpg" alt="Card image cap">
                    <div class="card-img-overlay m-xl-2 m-xxl-4">
                        <h6 class="card-text op-5">Made</h5>
                            <h4 class="card-title">Making luxury interior
                                design affordable</h4>
                            <span class="badge badge-pill op-5">Coming Soon</span>
                    </div>

                </div>
            </a>

        </div>
    </div>
</div>