<div class="row justify-content-center d-flex pb-5 ">
    <!-- Featured Work -->
    <div class="col-12 col-md-6">

        <!-- Large -->
        <a href="/work/case-studies/mcs" class="card-link">
            <div class="card portfolio-card card-mcs text-left text-light border mb-4">
                <img src="/images/homepage/feature-work/mycarespace.jpg" alt="My Care Space">
                <div class="card-img-overlay m-xl-2 m-xxl-4">
                    <h6 class="card-text op-5">MyCareSpace</h6>
                    <h4 class="card-title mt-0">Helping disabilty carers to connect with NDIS services</h4>
                    <span class="badge badge-pill">Case Study</span>
                </div>
            </div>
        </a>

    </div>
    <div class="col-12 col-md-6">
        <!-- Large -->
        <a href="/work/digital-design/maso-fitness" class="card-link">
            <div class="card portfolio-card text-left text-light border mb-4">
                <img src="/images/homepage/feature-work/Maso-Fitness.jpg" alt="Maso Fitness">
                <div class="card-img-overlay m-xl-2 m-xxl-4">
                    <h6 class="card-text">Maso Fitness</h6>
                    <h4 class="card-title mt-0">Getting people fit in Sydney's Inner West</h4>
                    <span class="badge badge-pill">Digital Design</span>
                </div>

            </div>
        </a>
    </div>

    <!-- Other Work -->
    <div class="col-12 col-md-6">

        <!-- Large -->
        <a href="/work/digital-design/scenic/" class="card-link">
            <div class="card portfolio-card text-left text-light border mb-4" style="background-color: #C79C54;">
                <img src="/images/homepage/feature-work/Scenic.jpg" alt="Scenic">
                <div class="card-img-overlay m-xl-2 m-xxl-4">
                    <h6 class="card-text op-5">Scenic Group</h5>
                        <h4 class="card-title">Moments of
                            wonder for an industry leading cruise operator</h4>
                        <span class="badge badge-pill op-5">Digital Design</span>
                </div>

            </div>
        </a>




    </div>
    <div class="col-12 col-md-6">
        <!-- Small -->
        <a href="http://www.maxims.design" target="_blank" class="card-link">
            <div class="card portfolio-card text-left text-light border mb-4" style="background-color: #0c82ea;">
                <img src="/images/homepage/feature-work/Design-Maxims.jpg" alt="Design Maxims">
                <div class="card-img-overlay m-xl-2 m-xxl-4">
                    <h6 class="card-text">Design Maxims</h5>
                        <h4 class="card-title">Inspiration quotes from
                            design leaders & thinkers</h4>
                        <span class="badge badge-pill op-5">Digital Design</span>

                </div>
            </div>
        </a>
        <!-- Large -->
        <div class="card portfolio-card coming-soon text-left text-light border mb-4"
            style="background-color: #1A274A;">
            <img src="/images/homepage/feature-work/Made.jpg" alt="Card image cap">
            <div class="card-img-overlay m-xl-2 m-xxl-4">
                <h6 class="card-text op-5">Made</h5>
                    <h4 class="card-title">Making luxury interior
                        design affordable</h4>
                    <span class="badge badge-pill op-5">Coming Soon</span>
            </div>

        </div>
    </div>
</div>

</div>