<div class="row justify-content-center d-flex">
    <!-- Featured Work -->
    <div class="col-12 col-md-6">

        <!-- Large -->
        <a href="/work/case-studies/my-care-space" class="card-link">
            <div class="card portfolio-card card-my-care-space text-left text-light border mb-4">
                <img src="/img/homepage/feature-work/mycarespace.webp" alt="My Care Space">
                <div class="card-img-overlay m-xl-2 m-xxl-4">
                    <h6 class="card-text op-5 mt-0 op-5 mt-0">MyCareSpace</h6>
                    <h4 class="card-title mt-0">Helping disabilty carers to connect with NDIS services</h4>
                    <div class="badge badge-pill">Case Study</div>
                </div>
            </div>
        </a>

    </div>
    <div class="col-12 col-md-6">
        <!-- Large -->
        <a href="/work/digital-design/maso-fitness" class="card-link">
            <div class="card portfolio-card text-left text-light border mb-4">
                <img src="/img/homepage/feature-work/Maso-Fitness.webp" alt="Maso Fitness">
                <div class="card-img-overlay m-xl-2 m-xxl-4">
                    <h6 class="card-text op-5 mt-0">Maso Fitness</h6>
                    <h4 class="card-title mt-0">Getting people fit in Sydney's Inner West</h4>
                    <div class="badge badge-pill">Digital Design</div>
                </div>

            </div>
        </a>
    </div>

    <div class="col-12 col-md-6">
        <!-- Large -->
        <a href="/work/digital-design/made/" class="card-link">
            <div class="card portfolio-card text-left text-light border mb-4" style="background-color: #1A274A;">
                <img src="/img/homepage/feature-work/Made.webp" alt="Card image cap">
                <div class="card-img-overlay m-xl-2 m-xxl-4">
                    <h6 class="card-text op-5 mt-0">Made</h5>
                        <h4 class="card-title mt-0">Making luxury interior
                            design affordable</h4>
                        <div class="badge badge-pill">Digital / Print Design</div>
                </div>

            </div>
        </a>
    </div>
    <div class="col-12 col-md-6">
        <!-- Large -->
        <a href="/work/digital-design/scenic/" class="card-link">
            <div class="card portfolio-card text-left text-light border mb-4" style="background-color: #C79C54;">
                <img src="/img/homepage/feature-work/Scenic.webp" alt="Scenic">
                <div class="card-img-overlay m-xl-2 m-xxl-4">
                    <h6 class="card-text op-5 mt-0">Scenic Group</h5>
                        <h4 class="card-title mt-0">Moments of
                            wonder for an industry leading cruise operator</h4>
                        <div class="badge badge-pill">Digital Design</div>
                </div>

            </div>
        </a>
    </div>
</div>