<div class="row justify-content-center d-flex pb-2 pb-lg-5">
    <div class="col-12 col-md-6">
            <!-- Large -->
            <a href="/work/case-studies/mcs" class="card-link" >
                <div class="card portfolio-card text-left text-light border mb-4" data-tilt perspective="8000" speed="50" data-tilt-max="1">
                    <img src="/../img/homepage/feature-work/mycarespace.webp" alt="My Care Space">
                    <div class="card-img-overlay m-xl-2 m-xxl-4">
                        <h6 class="card-text mt-0 op-5">MyCareSpace</h6>
                        <h4 class="card-title mt-0">Helping disabilty carers to connect with NDIS services</h4>
                        <div class="badge badge-pill">Case Study</div>
                    </div>
                </div>
            </a>
    </div>
    <div class="col-12 col-md-6">
           <!-- Large -->
           <a href="/work/digital-design/maso-fitness" class="card-link">
            <div class="card portfolio-card text-left text-light border mb-4" data-tilt perspective="5000" speed="50" data-tilt-max="1">
                <img src="/../img/homepage/feature-work/Maso-Fitness.webp" alt="Maso Fitness">
                <div class="card-img-overlay m-xl-2 m-xxl-4">
                    <h6 class="card-text mt-0 op-5">Maso Fitness</h6>
                    <h4 class="card-title mt-0">Getting people fit in Sydney's Inner West</h4>
                    <div class="badge badge-pill">Digital Design</div>
                </div>

            </div>
        </a>
    </div>
</div>

<!-- Call to Action -->
<div class="row row d-flex justify-content-center pb-1 text-center">
    <div class="col-12 hero-links">
        <a href="/work" class="btn btn-primary mx-md-4">View All Design</a>
    </div>
</div>