@font-face {
  font-family: 'PX-Grotesk';
  src: url("/fonts/Px-Grotesk-Regular.woff2") format("woff2"), url("../../../Respources/fonts/Px-Grotesk-Regular.woff") format("woff"), url("../../../Resfonts/fonts/Px-Grotesk-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PX-Grotesk";
  src: url("/fonts/Px-Grotesk-Bold.woff2") format("woff2"), url("/fonts/Px-Grotesk-Bold.woff") format("woff"), url("/fonts/Px-Grotesk-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@font-face {
  font-family: "Circular";
  src: url("/fonts/Circular/CircularStd-Book.woff");
  /* IE9 Compat Modes */
  src: url("/fonts/Circular/CircularStd-Book.eot?#iefix") format("embedded-opentype"), url("/fonts/Circular/CircularStd-Book.woff2") format("woff2"), url("/fonts/Circular/CircularStd-Book.woff") format("woff"), url("/fonts/Circular/CircularStd-Book.ttf") format("truetype"), url("/fonts/Circular/CircularStd-Book.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Circular";
  src: url("/fonts/Circular/CircularStd-Bold.woff");
  /* IE9 Compat Modes */
  src: url("/fonts/Circular/CircularStd-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Circular/CircularStd-Bold.woff2") format("woff2"), url("/fonts/Circular/CircularStd-Bold.woff") format("woff"), url("/fonts/Circular/CircularStd-Bold.ttf") format("truetype"), url("/fonts/Circular/CircularStd-Bold.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Circular";
  src: url("/fonts/Circular/CircularStd-Medium.woff");
  /* IE9 Compat Modes */
  src: url("/fonts/Circular/CircularStd-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/Circular/CircularStd-Medium.woff2") format("woff2"), url("/fonts/Circular/CircularStd-Medium.woff") format("woff"), url("/fonts/Circular/CircularStd-Medium.ttf") format("truetype"), url("/fonts/Circular/CircularStd-Medium.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: 500;
  font-style: normal;
}

.delay-1 {
  -webkit-animation-delay: .25s;
          animation-delay: .25s;
}

.delay-2 {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.delay-3 {
  -webkit-animation-delay: .75s;
          animation-delay: .75s;
}

.delay-4 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.delay-5 {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}

.loader {
  position: fixed;
  width: 100vw;
  height: 200vh;
  pointer-events: none;
  background-color: #00254F;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 992px) {
  .container {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

html {
  scroll-behavior: smooth;
  height: -webkit-fill-available;
  font-size: 18px;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  font-family: "Circular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  color: #0f1317;
  text-align: center;
  width: 100%;
  word-wrap: break-word;
  overflow-x: hidden;
}

.ascii-art {
  font-family: monospace;
  white-space: pre;
}

h2,
h3,
h4 {
  line-height: 140%;
}

h5,
h6,
p {
  line-height: 150%;
}

h1 {
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 110%;
}

@media (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 4.25rem;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 4.5rem;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 900;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
    margin-top: 2.25rem;
  }
}

@media (min-width: 1200px) {
  h2 {
    font-size: 2.5rem;
    margin-top: 2.5rem;
  }
}

h3 {
  font-size: 1.5rem;
  color: #0f1317;
  font-weight: 500;
  margin-top: 1.5rem;
}

@media (min-width: 768px) {
  h3 {
    font-size: 1.75rem;
    margin-top: 1.75rem;
  }
}

@media (min-width: 1200px) {
  h3 {
    font-size: 2rem;
    margin-top: 2rem;
  }
}

h4 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 1.25rem;
}

@media (min-width: 768px) {
  h4 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }
}

@media (min-width: 1200px) {
  h4 {
    font-size: 1.75rem;
    margin-top: 1.75rem;
  }
}

h5 {
  font-family: 'Circular', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

@media (min-width: 768px) {
  h5 {
    font-size: 1.25rem;
  }
}

@media (min-width: 992px) {
  h5 {
    font-size: 1.5rem;
  }
}

h6 {
  font-family: 'PX-Grotesk', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
  font-weight: 600;
  margin-top: 0.75rem;
  margin-bottom: 0.25rem;
  background: -webkit-gradient(linear, left top, right top, from(#FF00E0), to(#FF0029));
  background: linear-gradient(to right, #FF00E0 0%, #FF0029 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 768px) {
  h6 {
    font-size: 0.9rem;
    margin-top: 0.9rem;
  }
}

p {
  font-size: 0.95rem;
  margin: 1rem 0 0 0;
  font-weight: 400;
}

@media (min-width: 768px) {
  p {
    font-size: 1rem;
    margin: 1.25rem 0 0.5rem 0;
  }
}

@media (min-width: 1200px) {
  p {
    font-size: 1.25rem;
  }
}

b,
strong {
  font-weight: 500;
}

ol,
ul {
  list-style-type: disc;
  margin-left: 1rem;
}

li {
  margin: 1.5rem 0rem;
}

li::marker {
  color: #FF00E0;
  font-size: 1.25rem;
}

p.footer-text {
  font-size: 14px;
}

label {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}

input,
select {
  min-height: 3rem;
}

.form-group-row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .form-group-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.form-group {
  margin-bottom: 1.5rem;
  width: 100%;
}

@media (min-width: 768px) {
  .form-group {
    width: 50%;
  }
}

img {
  width: 100%;
}

hr {
  margin: 2.5rem 0 2.5rem 0;
}

@media (min-width: 768px) {
  hr {
    margin: 3rem 0 3rem 0;
  }
}

@media (min-width: 1200px) {
  hr {
    margin: 4rem 0 4rem 0;
  }
}

a {
  text-decoration: none;
  color: #FF00E0;
  background-color: transparent;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background: -webkit-gradient(linear, left top, right top, from(#FF00E0), to(#FF0029));
  background: linear-gradient(to right, #FF00E0 0%, #FF0029 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: linear-gradient(to right, #FF00E0 0%, #FF0029 100%);
  border-bottom: 0px solid transparent;
}

a:hover, a:active, a:focus {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #FF00E0;
  background: -webkit-gradient(linear, left top, right top, from(#FF00E0), to(#FF0029));
  background: linear-gradient(to right, #FF00E0 0%, #FF0029 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: linear-gradient(to right, #FF00E0 0%, #FF0029 100%);
  text-decoration: none;
  border-bottom: 0px solid transparent;
}

#work-link {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border-bottom: 1px solid #FF00E0;
}

p a {
  text-align: center;
}

#animation {
  position: relative;
  width: 25px;
  height: 25px;
  text-align: center;
  opacity: 1;
  -webkit-transform: translateY(-3%);
          transform: translateY(-3%);
}

#bg-circle {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 1;
  display: none;
}

header {
  height: auto;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navbar-brand {
  color: white;
  font-size: 1.1rem;
  -webkit-transform: translateY(0em);
          transform: translateY(0em);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  font-family: "Circular", Arial, Helvetica, sans-serif;
  font-weight: 900;
  background: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-brand:hover {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  background: -webkit-gradient(linear, left top, right top, from(#FF00E0), to(#FF0029));
  background: linear-gradient(to right, #FF00E0 0%, #FF0029 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 768px) {
  .navbar-brand {
    font-size: 1.4rem;
  }
}

.navbar-brand-light {
  color: #0f1317;
  background: #0f1317;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-link {
  color: white;
  font-size: 1rem;
  background: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 0rem !important;
  padding-right: 0rem !important;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.nav-link:hover, .nav-link:active, .nav-link:focus {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  background: -webkit-gradient(linear, left top, right top, from(#FF00E0), to(#FF0029));
  background: linear-gradient(to right, #FF00E0 0%, #FF0029 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-link-light {
  color: #0f1317;
  background: #0f1317;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 992px) {
  .hide-mobile {
    display: none;
  }
}

/* Icon 1 */
.animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-icon3 span {
  background: #fff;
}

/* Icon 4 */
.animated-icon3 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}

.badge-pill {
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 1;
  margin-top: 0.5rem;
  padding: 1rem;
  color: white;
  line-height: 0;
  font-weight: 400;
  font-size: 0.75rem;
}

button {
  color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 0.75rem;
  -webkit-transition: 500ms;
  transition: 500ms;
}

@media (max-width: 767.98px) {
  .btn {
    width: 100%;
  }
}

.btn-primary {
  background: -webkit-gradient(linear, left top, right top, from(#FF00E0), to(#FF0029));
  background: linear-gradient(to right, #FF00E0 0%, #FF0029 100%);
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  -webkit-transition: 500ms;
  transition: 500ms;
  font-size: 1rem;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: -webkit-gradient(linear, left top, right top, from(#FF00E0), to(#FF0029));
  background: linear-gradient(to right, #FF00E0 0%, #FF0029 100%);
  -webkit-text-fill-color: linear-gradient(to right, #FF00E0 0%, #FF0029 100%);
  border: 1px solid transparent;
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-transform: translateY(-0.25rem);
          transform: translateY(-0.25rem);
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.2);
}

.btn-secondary {
  color: #fff;
  padding: 0.5rem 1rem;
  border: solid 1px #fff;
  background-color: transparent;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background: -webkit-gradient(linear, left top, right top, from(#FF00E0), to(#FF0029));
  background: linear-gradient(to right, #FF00E0 0%, #FF0029 100%);
  -webkit-text-fill-color: linear-gradient(to right, #FF00E0 0%, #FF0029 100%);
  border: 1px solid transparent;
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-transform: translateY(-0.25rem);
          transform: translateY(-0.25rem);
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.2);
}

.btn-tertiary {
  color: #0F1317;
  padding: 0.5rem 1rem;
  border: solid 1px #fff;
  background-color: transparent;
  border: 1px solid #0F1317;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.btn-tertiary:hover {
  background: -webkit-gradient(linear, left top, right top, from(#FF00E0), to(#FF0029));
  background: linear-gradient(to right, #FF00E0 0%, #FF0029 100%);
  border: 1px solid #FF00E0;
  -webkit-text-fill-color: #fff;
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-transform: translateY(-0.25rem);
          transform: translateY(-0.25rem);
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.2);
}

.rounded {
  border-radius: 1rem !important;
}

a.card-link {
  text-decoration: none;
  border: none;
  color: transparent;
  background-color: transparent;
}

a.card-link:hover, a.card-link:focus, a.card-link:active {
  text-decoration: none;
  border: none;
}

.card-columns {
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  -webkit-column-count: 1;
          column-count: 1;
}

@media (min-width: 768px) {
  .card-columns {
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
    -webkit-column-count: 2;
            column-count: 2;
  }
}

.card {
  position: relative;
  width: 100%;
}

.card .card-img-top-center {
  margin: auto;
}

.card .card-img-top {
  display: block;
  height: auto;
  max-width: 50%;
}

.process-card {
  position: relative;
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
  cursor: default;
}

.process-card:hover {
  -webkit-transform: translatey(-0.5rem);
          transform: translatey(-0.5rem);
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-shadow {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  z-index: 0;
}

.card-text {
  margin: 0 0 0.75rem 0;
}

.portfolio-card {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.portfolio-card h6 {
  color: rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
}

.portfolio-card img {
  max-width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
  width: 100%;
  height: auto;
  -webkit-transform: scale(1);
          transform: scale(1);
  border-radius: 1rem;
}

.portfolio-card:hover img,
.portfolio-card:focus img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  border-radius: 1rem;
}

.coming-soon {
  opacity: 0.3;
}

.coming-soon img {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.coming-soon:hover img,
.coming-soon:focus img {
  -webkit-transform: scale(1);
          transform: scale(1);
  border-radius: 1rem;
}

@media (min-width: 768px) {
  .testimonial-text {
    text-align: left;
  }
}

.testimonial-text h4 {
  color: white;
}

.testimonial-text h6 {
  color: rgba(255, 255, 255, 0.5);
}

.testimonial-img {
  height: 150px;
  width: 150px;
  margin: auto;
}

@media (min-width: 768px) {
  .testimonial-img {
    height: 200px;
    width: 200px;
  }
}

@media (min-width: 992px) {
  .testimonial-img {
    height: 250px;
    width: 250px;
  }
}

.testimonial-img:hover::before {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  cursor: pointer;
}

.testimonial-img::before {
  content: '';
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  height: 150px;
  width: 150px;
  background: -webkit-gradient(linear, left top, right top, from(#FF00E0), to(#FF0029));
  background: linear-gradient(to right, #FF00E0 0%, #FF0029 100%);
  background-size: 100% 100%;
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
  border-radius: 50%;
  -webkit-box-shadow: 2px;
          box-shadow: 2px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  cursor: pointer;
}

@media (min-width: 768px) {
  .testimonial-img::before {
    height: 200px;
    width: 200px;
  }
}

@media (min-width: 992px) {
  .testimonial-img::before {
    height: 250px;
    width: 250px;
  }
}

.testimonial-img::after {
  content: '';
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  background-image: url(/images/homepage/testimonial/Gemma.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

@media (min-width: 768px) {
  .testimonial-img::after {
    height: 200px;
    width: 200px;
  }
}

@media (min-width: 992px) {
  .testimonial-img::after {
    height: 250px;
    width: 250px;
  }
}

.testimonial-img-jack {
  height: 150px;
  width: 150px;
  margin: auto;
}

@media (min-width: 768px) {
  .testimonial-img-jack {
    height: 200px;
    width: 200px;
  }
}

@media (min-width: 992px) {
  .testimonial-img-jack {
    height: 250px;
    width: 250px;
  }
}

.testimonial-img-jack:hover::before {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  cursor: pointer;
}

.testimonial-img-jack::before {
  content: '';
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  height: 150px;
  width: 150px;
  background: -webkit-gradient(linear, left top, right top, from(#FF00E0), to(#FF0029));
  background: linear-gradient(to right, #FF00E0 0%, #FF0029 100%);
  background-size: 100% 100%;
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
  border-radius: 50%;
  -webkit-box-shadow: 2px;
          box-shadow: 2px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  cursor: pointer;
}

@media (min-width: 768px) {
  .testimonial-img-jack::before {
    height: 200px;
    width: 200px;
  }
}

@media (min-width: 992px) {
  .testimonial-img-jack::before {
    height: 250px;
    width: 250px;
  }
}

.testimonial-img-jack::after {
  content: '';
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  background-image: url(/images/homepage/testimonial/Jack.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

@media (min-width: 768px) {
  .testimonial-img-jack::after {
    height: 200px;
    width: 200px;
  }
}

@media (min-width: 992px) {
  .testimonial-img-jack::after {
    height: 250px;
    width: 250px;
  }
}

section {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
  min-height: 25vh;
}

@media (min-width: 768px) {
  section {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media (min-width: 992px) {
  section {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

.background-image {
  background-image: url(/images/homepage/homepage-bg-new.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.background-image-testimonial {
  background-image: url(/images/homepage/homepage-bg-new.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  position: relative;
}

.hero-single {
  height: 90vh;
  width: 100%;
}

.hero {
  height: 100vh;
  width: 100%;
  color: white;
  z-index: 0;
}

.hero h1 {
  background: -webkit-linear-gradient(#fff, #FFf);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero h1 span {
  background: -webkit-gradient(linear, left top, right top, from(#FF00E0), to(#FF0029));
  background: linear-gradient(to right, #FF00E0 0%, #FF0029 100%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.hero-links a {
  color: white;
  font-size: 1rem;
  font-size: 1.125rem;
}

@media (min-width: 768px) {
  .hero-links a {
    font-size: 1.25rem;
  }
}

.down-arrow {
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: 200px;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  font-size: 14px;
  margin: 0;
}

.down-arrow .down-arrow_animated {
  -webkit-animation-name: downIconBounce;
          animation-name: downIconBounce;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes downIconBounce {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes downIconBounce {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

.down-arrow_hero {
  bottom: 10%;
}

.down-arrow_text {
  text-align: center;
  margin-bottom: 1rem;
}

h4.job-title span {
  font-family: "Circular", Arial, Helvetica, sans-serif;
  color: linear-gradient(to right, #FF00E0 0%, #FF0029 100%);
  opacity: 0.5;
}

#mycarespace {
  margin: 0rem 0 2rem 0;
}

#challenge,
#overview,
#project-goals,
#understanding-the-problem,
#interview-objectives,
#key-insights {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

blockquote {
  position: relative;
  background-color: transparent;
  padding: 1.2rem 1.3rem 1.2rem 1.5rem;
  margin: 2rem 0 3rem 0;
  border: 1px solid #00254F;
  border-radius: 1rem;
}

blockquote p {
  margin: 0 0 0.5rem 0;
}

blockquote p strong {
  font-family: 'PX-Grotesk', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: 0.75rem;
  margin-bottom: 0.25rem;
  background: -webkit-gradient(linear, left top, right top, from(#FF00E0), to(#FF0029));
  background: linear-gradient(to right, #FF00E0 0%, #FF0029 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 768px) {
  blockquote p strong {
    font-size: 1rem;
  }
}

blockquote a {
  background: -webkit-gradient(linear, left top, right top, from(#FF00E0), to(#FF0029));
  background: linear-gradient(to right, #FF00E0 0%, #FF0029 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: transparent;
  padding-bottom: 0.25rem;
}

blockquote a:hover, blockquote a:focus, blockquote a:active {
  background: -webkit-gradient(linear, left top, right top, from(#FF00E0), to(#FF0029));
  background: linear-gradient(to right, #FF00E0 0%, #FF0029 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  border-bottom: 1px solid #FF00E0;
}

@media (min-width: 768px) {
  blockquote {
    padding: 1.4rem 1.5rem 1.4rem 2rem;
  }
}

figure figcaption,
figure figcaption h4 {
  font-weight: 400;
  font-size: 0.9rem;
  color: rgba(15, 19, 23, 0.5);
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.scrolled {
  background-color: #fff;
  color: #0f1317;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background: #fff;
  -webkit-text-fill-color: transparent;
}

.scrolledColor {
  background-color: #fff;
  color: #0f1317;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background: #0f1317;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.scrolledBtnPrimary {
  color: #0F1317;
  padding: 0.5rem 1rem;
  border: solid 1px #fff;
  background-color: transparent;
  border: 1px solid #0F1317;
  -webkit-transition: 500ms;
  transition: 500ms;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0F1317;
}

.scrolledBtnPrimary:hover {
  background: -webkit-gradient(linear, left top, right top, from(#FF00E0), to(#FF0029));
  background: linear-gradient(to right, #FF00E0 0%, #FF0029 100%);
  border: 1px solid #FF00E0;
  -webkit-text-fill-color: #fff;
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-transform: translateY(-0.25rem);
          transform: translateY(-0.25rem);
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.2);
}

.swiper-container {
  width: 100%;
  height: auto;
}

.swiper-container:hover {
  cursor: url("/images/icons/mouse-scroll.svg"), auto;
}

.swiper-container .swiper-pagination-bullet-active {
  background-color: #FF00E0;
}
/*# sourceMappingURL=styles.css.map */