  <!-- Work History -->
  <section id="experience" class="section">

      <div class="container pb-3 d-flex justify-content-center align-items-center fade-up-job-title">
          <div class="row d-flex justify-content-center pb-sm-3 pb-md-5">
              <div class="col-12 col-md-10 col-lg-8">
                  <h2 class="">Work Experience</h2>
                  <p class="">A short history of my work experience, from interior design to luxury
                      travel.</p>
              </div>
          </div>
      </div>

      <div class="container pb-3 text-left d-flex flex-column align-items-center fade-up-job-list">

          <!-- Formbay -->
          <div class="row d-flex justify-content-center">
              <div class="col-12 col-md-10 col-lg-8 ">
                  <h6 class="">2020 +</h6>
                  <h4 class="job-title pt-0 mt-1">Digital Designer <span>at Formbay</span></h4>
                  <p class="job-description pb-0 mb-0">Digital Design role at Formnbay, Australia's largest solar rec
                      registry for
                      the
                      trading of Small Scale Energy Certificates(STCs). Design and develop a range of creative assets
                      including emails, web pages and social media banners. </p>
              </div>
          </div>

          <!-- Divider -->
          <div class="row py-3 py-md-5 w-100 d-flex justify-content-center">
              <div class="border-bottom col-12 col-md-10 col-lg-8">
              </div>
          </div>

          <!-- Scenic -->
          <div class="row d-flex justify-content-center">
              <div class="col-12 col-md-10 col-lg-8">
                  <h6 class="">2019—20</h6>
                  <h4 class="job-title pt-0 mt-1">Digital Designer <span>at Scenic Group</span></h4>
                  <p class="job-description pb-0 mb-0">Digitally focused role creating a range of landing pages, emails,
                      digital
                      display
                      banners and social media tiles for three separate brands – Scenic River Cruises, Scenic Eclipse
                      and
                      Evergreen & Emerald Waterways.</p>
              </div>
          </div>

          <!-- Divider -->
          <div class="row py-3 py-md-5 w-100 d-flex justify-content-center">
              <div class="border-bottom col-12 col-md-10 col-lg-8">
              </div>
          </div>

          <!-- Freelance -->
          <div class="row d-flex justify-content-center">
              <div class="col-12 col-md-10 col-lg-8">
                  <h6 class="">2018 — 19</h6>
                  <h4 class="job-title pt-0 mt-1">Freelance Graphic Design <span>at Various</span></h4>
                  <p class="job-description pb-0 mb-0">Projects undertaken with a range of personal, corporate and
                      retail clients including BT/Westpac, Gallagher, MASO Fitness, The Kings School, Met Cash,
                      Ruralco and
                      Finite IT Solutions.</p>
              </div>
          </div>

          <!-- Divider -->
          <div class="row py-3 py-md-5 w-100 d-flex justify-content-center">
              <div class="border-bottom col-12 col-md-10 col-lg-8">
              </div>
          </div>

          <!-- Made -->
          <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <h6 class="">2017 — 18</h6>
                <h4 class="job-title pt-0 mt-1">Creative Artworker <span>at Made</span></h4>
                <p class="job-description pb-0 mb-0">Delivered design and finished artwork across a range of digital
                    and print materials for a luxury interior design e-com store based in London, UK.</p>
            </div>
          </div>

          <!-- Divider -->
          <div class="row py-3 py-md-5 w-100 d-flex justify-content-center">
              <div class="border-bottom col-12 col-md-10 col-lg-8">
              </div>
          </div>

          <!-- Echo House -->
          <!-- <div class="row justify-content-center">
        <div class="row d-flex border-bottom py-5">
          <div class="col-12 col-md-3 col-lg-2">
            <h6 class="">2017</h6>
          </div>
          <div class="col-12 col-md-10 col-lg-10">
            <h4 class="job-title pt-0 mt-1">Freelance Creative Artworker <span>at Echo House</span></h4>
            <p class="job-description pb-0 mb-0">Design, artwork and production of print
              assets for clients including Estee Lauder, Urban Decay and the
              All-England Lawn Tennis Club, Wimbledon..</p>
          </div>
        </div>
      </div> -->

          <!-- ASOS -->
          <div class="row d-flex justify-content-center">
              <div class="col-12 col-md-10 col-lg-8">
                  <h6 class="">2013 – 16</h6>
                  <h4 class="job-title pt-0 mt-1">Content Manager <span>at ASOS</span></h4>
                  <p class="job-description pb-0 mb-0"> Production role managing the publishing of all womenswear and
                      unisex
                      creative
                      content across desktop, mobile and app homepages using Sitecore CMS.</p>
              </div>
          </div>


      </div>

  </section>