{{ define "head" }}
{{ partial "head" . }}
{{end}}

{{ define "header" }}
{{ partial "header" }}
{{end}}

{{ define "main" }}
<main data-barba="container">
    {{ partial "work/workTag" . }}
    {{ partial "work/hero" . }}
    <section
        class="section d-flex text-left justify-content-center align-items-center position-relative py-0 mt-5">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-10 col-lg-9 ">
                    {{ .Content}}
                </div>
            </div>
        </div>
    </section>
</main>
{{end}}

{{ define "footer" }}
{{ partial "contact" . }}
{{ partial "footer" . }}
{{end}}