{{define "head" }}
{{ partial "head.html" . }}
{{end}}

{{define "header" }}
{{ partial "header" }}
{{end}}


{{define "main" }}

<section class="hero-single d-flex flex-column justify-content-center align-items-center position-relative mb-1">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 d-flex flex-column justify-content-center align-items-center text-center">
                <h1>{{ .Title }}</h1>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 d-flex flex-column justify-content-center align-items-center text-center">
                <p class="">{{ .Params.pageDescription }}</p>
            </div>
        </div>

</section>

<section class="section d-flex text-left justify-content-center align-items-center">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-12 d-flex justify-content-center">
                <div class="">{{ .Content }}
                </div>
            </div>
        </div>
</section>
{{ partial "about/work-experience" . }}

{{end}}



{{ define "footer" }}
{{ partial "footer" . }}
{{end}}