<!-- Contact -->
<section id="contact" class="section">

    <!-- Section Heading -->
    <div class="container fade-up-footer ">

        <div class="row d-flex justify-content-center align-items-center pb-5">
            <!-- Section Heading -->
            <div class="col-sm-12 col-md-6">
                <div class="">
                    <h2 class="">Get in touch</h2>
                    <h2> <a href="mailto:hello@danielshires.com">hello@danielshires.com</a>
                    </h2>
                    <p>Or if you prefer leave a message below</p>
                </div>

            </div>

        </div>
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-sm-12 col-md-10 col-lg-8">
                <form class="text-left" name="contact" method="POST" data-netlify="true">
                    <div class="form-group-row d-flex">
                        <div class="form-group pr-0 pr-md-3">
                            <label for="first-name">First Name</label>
                            <input type="firstName" name="First Name" class="form-control" id="first-name"
                                placeholder="John">
                        </div>
                        <div class="form-group pr-0 pl-md-3">
                            <label for="last-name">Last Name</label>
                            <input type="name" name="name" class="form-control" id="last-name"
                                placeholder="Doe">
                        </div>
                    </div>
                    <div class="form-group-row d-flex">
                        <div class="form-group pr-0 pr-md-3">
                            <label for="email-address">Email Address</label>
                            <input type="email" name="email" class="form-control" id="email-address"
                                placeholder="john.doe@example.com">
                        </div>
                        <div class="form-group pr-0 pl-md-3">
                            <label for="your-position">Your Position</label>
                            <input list="items" id="myBrowser" name="myBrowser" class="form-control" />
                            <datalist class="" id="items">
                                    <option value="Business Owner">
                                    <option value="Developer">
                                    <option value="Recruiter">
                                    <option value="Team Leader">
                                    <option value="Product Manager">
                                    <option value="Senior Designer">
                                    <option value="Mid-Weigth Designer">
                                    <option value="UX Designer">
                                    <option value="UX/UI Designer">
                                    <option value="UI Designer">
                            </datalist>
                        </div>
                    </div>

                    <div class="form-group-row">
                        <label for="exampleFormControlTextarea1">Message</label>
                        <textarea name="message" class="form-control" id="exampleFormControlTextarea1"
                            rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mt-4">Send Message</button>
                </form>

            
            </div>

        </div>



    </div>

</section>