<header id="#page-top" class="position-fixed px-3 d-flex align-items-center w-100">

  <nav class="navbar navbar-expand-lg nav-animation d-flex justify-content-between align-items-center w-100">

    <a class="navbar-brand navbar-brand-light js-scroll-trigger" href="/">Daniel Shires</a>

    <button class="navbar-toggler third-button" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent22" aria-controls="navbarSupportedContent22" aria-expanded="false"
      aria-label="Toggle navigation">
      <div class="animated-icon3"><span></span><span></span><span></span></div>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent22">
      <ul class="navbar-nav d-flex align-items-center">
        <li class="nav-item px-3">
          <a class="nav-link nav-link-light js-scroll-trigger" href="/work">Work</a>
        </li>

        <li class="nav-item px-3">
          <a href="#contact" class="btn btn-tertiary btn-outline hide-mobile">Get in Touch</a>
        </li>
      </ul>
    </div>

  </nav>

</header>