<header id="#page-top" class="position-fixed px-3 d-flex align-items-center w-100">

  <nav class="navbar navbar-expand-lg nav-animation d-flex justify-content-between align-items-center w-100">

    <a class="navbar-brand js-scroll-trigger" href="#home">Daniel Shires</a>

    <button class="navbar-toggler third-button" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent22" aria-controls="navbarSupportedContent22" aria-expanded="false"
      aria-label="Toggle navigation">
      <div class="animated-icon3"><span></span><span></span><span></span></div>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent22">
      <ul class="navbar-nav">
        <li class="nav-item mx-3">
          <a class="nav-link js-scroll-trigger" href="/work/case-studies">Case Studies</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link js-scroll-trigger" href="/work/digital-design">Digital Design</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link js-scroll-trigger" href="/about">About</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link js-scroll-trigger" href="/about">Resume</a>
        </li>
      </ul>
    </div>
    <a href="#contact" class="btn btn-secondary btn-outline hide-mobile">Get in touch</a>
  </nav>

</header>