<header id="#page-top" class="position-fixed" data-menu-off="true">
  <div class="navbar navbar-expand-lg d-flex w-100 p-4 p-md-1 px-md-3">

    <div class="nav-left d-flex">
      <a class="navbar-brand m-0 p-0" href="/">Daniel Shires</a>
      <div class="menu-item">
        <a class="menu-icon"><i class="gg-menu-right"></i></a>
      </div>
    </div>
    <nav class="nav-center">
      <ul class="nav-items d-flex">
        <li class="nav-item m-0 mx-md-3">
          <a class="nav-link section-link p-0" href="/work">Design</a>
        </li>
        <li class="nav-item m-0 mx-md-3">
          <a class="nav-link section-link p-0" href="/code">Code</a>
        </li>
      </ul>
    </nav>
    <div class="nav-right">
      <ul class="contact-links d-flex">
        <li class="nav-item">
          <a class="nav-link social-link github" href="https://github.com/danielshires" target="_blank"><img
              class="social-img" src="./images/icons/41-github-rounded.svg" alt="git-hub" width="1.5em"></a>
        </li>
        <li class="nav-item m-0 my-1">
          <a class="nav-link social-link linkedin" href="https://www.linkedin.com/in/shiresdaniel/" target="_blank"><img
              class="social-img" src="./images/icons/11-linkedin.svg" alt="git-hub" width="1.5em"></a>
        </li>
        <li class="nav-item m-0 my-1">
          <a class="nav-link social-link email" href="mailto:hello@danielshires.com" target="_blank"><img
              class="social-img" src="./images/icons/email.svg" alt="git-hub" width="1.5em"></a>
        </li>
      </ul>

    </div>
  </div>
  </div>
</header>
<!-- 
<header id="#page-top" class="position-fixed">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand px-0 px-md-2" href="/">Daniel Shires</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <i class="gg-menu-right"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/work">Design</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/code">Code</a>
        </li>
      </ul>
      <div class="nav-right d-flex align-items-center">
        <ul class="contact-links d-flex">
          <li class="nav-item m-0 my-1">
            <a class="nav-link social-link github" href="https://github.com/danielshires" target="_blank"><img
                class="social-img" src="./images/icons/41-github-rounded.svg" alt="git-hub" width="2em"></a>
          </li>
          <li class="nav-item m-0 my-1">
            <a class="nav-link social-link linkedin" href="https://www.linkedin.com/in/shiresdaniel/"
              target="_blank"><img class="social-img" src="./images/icons/11-linkedin.svg" alt="git-hub"
                width="2em"></a>
          </li>
          <li class="nav-item m-0 my-1 mx-2 mx-md-3">
            <a class="btn btn-secondary" href="#contact">Get in touch</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header> -->